footer{
  height: 300px;
  h2{
    font-size: 20px;
  }
}


.footer-top{
  display: flex;
    ul{
      width: calc(100% / 4);
      list-style-type: none;
      li{
        margin: 10px 0;
        font-size: 13px;
      }
    }
}

.footer-top,
.footer-bot{
  padding: 20px 0;
}

.footer-bot img{
  margin-right: 10px;
  float: right;
}

.footer-bot::after{
  @include clearfix

}

.credits{
  height: 100px;
  background-color: #101010;
  color: white;
}

.credits-left,
.credits-right{
  height: 100%;
  width: 50%;
  float: left;
}

.credits-left-img{
  max-height: 70px;
  max-width: 120px;
  display: flex;
  align-items: center;
  img{
    width: 100%;
  }
}

.credits-right{
  text-align: right;
  li{
    display: inline-block;
    margin: 0 10px;
    line-height: 100px;
    font-size: 12px;
  }
}
