header{
  background-color: black;
  padding: 20px 0;
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    li{
      display: inline-block;
      margin: 0 20px;
      a{
        text-decoration: none;
        color: $fontColor
      }
    }
  }
}

.header-top{
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  i{
    color: #009CFF;
  }
}
.header-container{
  display: flex;
}

.logo {
  width: 120px;
  img{
    width: 100%;
  }
}
