.section-download{
  color: white;
  display: flex;
  align-items: center;
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
  background-size: cover;
}

.section-download-left{
  float: right;
  margin: 103px 0;
  h2{
    font-size: 30px;
    margin-bottom: 20px;
  }
  ul{
    margin: 20px 0;
    list-style-type: none;
    li{
      margin: 10px 0;
    }
    i{
      margin-right: 5px;
    }
  }
}

button{
  padding: 10px;
  display: flex;
  background-color: grey;
  border: 0;
  i{
    color: white;
    font-size: 23px;
    margin-left: 10px;
  }
}

.button-left{
  border-right: 1px solid black;
  p{
    margin-right: 10px;
  }
}

.section-download-right{
  float: right;
    margin-top: 33px;
    margin-left: 30px;
    background-color: black;
    padding: 30px 20px 103px 20px;
    position: relative;
  h2{
    margin: 20px 0;
  }
  button{
    padding: 10px 40px;
    margin-bottom: 50px;
    background-color: #009CFF
  }
  .offer{
    padding: 10px;
    margin: 20px 0;
    color: black;
    background-color: white;
  }
}

.section-download-right p:first-of-type{
  margin: 20px 0;
}

.section-download-right::after{
  content: url('https://www.painterartist.com/static/common/images/ico-30day-money-back-guarantee-en.png');
  position:absolute;
  top: 20px;
  right: 20px;
}
