.section-download{
  height: 463px;
  color: white;
  display: flex;
  align-items: center;
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
  background-size: cover;
}

.section-download-left{
  float: right;
  h2{
    margin-bottom: 20px;
  }
  ul{
    margin: 20px 0;
    list-style-type: none;
    i{
      margin-right: 5px;
    }
  }
}

button{
  padding: 10px;
  display: flex;
  background-color: grey;
  i{
    color: white;
    font-size: 23px;
    margin-left: 10px;
  }
}

.button-left{
  border-right: 1px solid black;
  p{
    margin-right: 10px;
  }
}
